################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Videos
/usersjulesc~1appdatalocaltemptmp_fcum3
/Université de Tours
/ubuntu
/source
/Searches
/Saved Games
/Python
/PycharmProjects
/ProjetCo1_BMX
/projet2
/Projet-COURNE-NGATIMO-KOYAKOSSO.zip
/pro
/Pictures
/opl
/OpenVPN
/OneDrive
/ntuser.ini
/NTUSER.DAT{6a61ee2b-8d7a-11eb-9c03-005056c00008}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{6a61ee2b-8d7a-11eb-9c03-005056c00008}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{6a61ee2b-8d7a-11eb-9c03-005056c00008}.TM.blf
/ntuser.dat{542eee66-9b20-11ec-9cdb-7266550a6831}.TMContainer00000000000000000002.regtrans-ms
/ntuser.dat{542eee66-9b20-11ec-9cdb-7266550a6831}.TMContainer00000000000000000001.regtrans-ms
/ntuser.dat{542eee66-9b20-11ec-9cdb-7266550a6831}.TM.blf
/ntuser.dat.log2
/ntuser.dat.log1
/ntuser.dat
/Music
/Links
/jules
/Jedi
/get-docker.sh
/Favorites
/eclipse-workspace
/eclipse
/Downloads
/Documents
/db
/Contacts
/compose.yml.txt
/compose.yml
/Bureau
/AppData
/3D Objects
/.viminfo
/.ssh
/.spyder-py3
/.qt-license
/.p2
/.nbi
/.metadata
/.matplotlib
/.lesshst
/.lemminx
/.keras
/.ipython
/.gitconfig.swp
/.gitconfig
/.eclipse
/.dotnet
/.designer
/.cache
/.bash_history
/.astah
